.colors1{
	background-color:rgb(255,0,0);
}
.colors2{
	background-color:rgb(0,255,0);
	}
.colors3{
	background-color:rgb(0,0,255);
	}
.colors4{
	background-color:rgb(255,150,255);
	}
.colors5{
	background-color:rgb(0,220,150);
		
	}
.colors6{
	background-color:rgba(255,0,0,0.8);

	}
.colors7{
		background-color:rgba(0,255,0,0.7);	
	}
.colors8{
	background-color:rgba(0,0,255,0.6);
	}
.colors9{
	background-color:rgba(255,150,255,0.9);
	
	}
.colors10{
	background-color:rgba(150,255,190,0.8);
}

	

	