p{
	border:2px dotted red;
	width:100%;
	height:50px;	
	}
div{
	border:2px solid green;
	height:80px;
	width:50%;
	background-color:yellow;
	}
.hw{
	border: 4px double skyblue;
	height:100px;
	max-width:500px;
	background-color:tomato;
	margin:5px;
}
