 body{
	background-color:yellow; 
  }
  ul{
	  background-color:red;
	  color:white;
  }
  ol{
	  background-color:green;
	  color:white;
  }
  h2{
	  background-color:brown;
  }
  .list{
	  background-color:blue;
  }
  .time{
	  background-color:aqua;
	  color:black;
  }
  dl{
	  background-color:pink;
  }
  h3{
	  color:red;
	  font-size:20px;
	  text-align:center;
	  background-color:black;
  }