.f1{
	font-family:"Times New Roman", Times, san-serif;
	}
.f2{
	font-family:serif;
	}
.f3{
	font-family:monospace;
	}
.m1{
	font-family:Tahoma, Verdana, sans-serif;
	}
.m2{
	font-family:tahoma, verdana, san-serif;
	}
.arial{
	font-family:arial,sans-serif;
	}
.verdana{
	font-family:vedana,sans-serif;
	}
.h{
	font-family:helvetica,sans-serif;
	}
.t{
	font-family:tahoma,sans-serif;
	}
.c5{
	font-family:'Brush Script MT', cursive;
}