a{
	background-color:green;
	color:white;	
	}
.a1:link{
	color:red;
}
.a1:visited{
	color:tomato;
	
	}
.a1:hover {
  color:black;
  background-color:yellow;
  font-size:20px;
	}
.a1:active{
	color:#00ffff;
}
.a2:link{
	background:red;
}
.a2:visited{
	background-color:#ffffff;
}
.a2:hover{
	background-color:blue;
	color:white;
	font-size:40px;
	text-decoration:line-through;
}
.a2:active{
	background-color:green;
	text-decoration:underline;
}